# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SAS
5. Matlab

**Objectives**:
- List popular languages for Data Science
- some commonly used libraries in data sceince
- some arithmetic expressions

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data science tools |
|--------------------|
|--Jupyter nootbook--|
|--R Studio----------|
|--Appache Zepplin---|

|Data Science Tools |
|-------------------|
|Jupyter nootbook   |
|R Studio           |
|Appache Zeppline   |

### H3 Below are a few examples of evaluating arithmetic expressions in Python
2+3

### Below are a few examples of evaluating arithmetic expressions in Python
1. Addition'2+3'
2. subtraction '3-1'
3. multiply '2*3'
4. division '4/2'

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
         Ahmar